<script type='application/ld+json'>
{ "@context": "http://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://www.ruben-gutierrez.design{{page.url}}"
  },
  "headline": "{{page.title}}",
  "description": "{{page.description}}",
  "award": "{{page.award}}",
  "editor": "Ruben Gutierrez", 
  "genre": "{{page.genre}}", 
  "keywords": "{{page.keywords}}", 
  "wordcount": "{{page.wordcount}}",
  "datePublished": "{{page.date | date: "%Y-%m-%-d" }}",
  "dateModified": "{{ page.last_modified | date: "%Y-%m-%-d" }}",

  "image": {
      "@type": "ImageObject",
      "url":" {{site.url}}/{{ page.feature_image}}",
      "height": 800,
      "width": 1200
  },

  "publisher": {
    "@type": "Organization",
    "name": "Ruben",
    "logo": {
        "@type": "ImageObject",
        "url": "{{site.url}}/favicon.png",
        "width": 300,
        "height": 300
    }
  },
  
  "author": {
      "@type": "Person",
      "name": "Ruben Gutierrez"
  }
}
</script>