
<script type="application/ld+json">
  { "@context": "https://schema.org", 
   "@type": "BlogPosting",
   "headline": "{{page.title}}",
   "image": "{{site.url}}/{{ page.feature_image}}",
   "award": "{{page.award}}",
   "editor": "Ruben Gutierrez", 
   "genre": "{{page.genre}}", 
   "keywords": "{{page.keywords}}", 
   "wordcount": "{{page.wordcount}}",
   "url": "http://www.example.com",
   "mainEntityOfPage": {
    "@type": "BlogPosting",
    "@id": "https://google.com/{{page.url}}"
    },
   "publisher": {
    "@type": "Person",
    "name": "Ruben Gutierrez",
    "logo": {
      "@type": "ImageObject",
      "url": "{{site.url}}/favicon.png"
      }
    },
   "url": "{{site.url}}",
   "datePublished": "{{page.date | date: "%Y-%m-%-d" }}",
   "dateCreated": "{{page.date | date: "%Y-%m-%-d" }}",
   "dateModified": "{{page.last_modified | date: "%Y-%m-%-d" }}",
   "description": "{{page.description}}",
     "author": {
      "@type": "Person",
      "name": "Ruben Gutierrez"
    }
   }
  </script>