
<script type="application/ld+json">
  { "@context": "https://schema.org", 
   "@type": "BlogPosting",
   "headline": "{{page.title}}",
   "image": "{{site.url}}/{{ page.feature_image}}",
   "award": "{{page.award}}",
   "editor": "Ruben Gutierrez", 
   "publisher": "Book Publisher Inc",
   "genre": "{{page.genre}}", 
   "keywords": "{{page.keywords}}", 
   "wordcount": "{{page.wordcount}}",
   "url": "{{site.url}}",
   "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://ruben-gutierrez.design/{{page.url}}"
  },
   "datePublished": "{{page.date | date: "%Y-%m-%-d" }}",
   "dateCreated": "{{page.date | date: "%Y-%m-%-d" }}",
   "dateModified": "{{page.last_modified | date: "%Y-%m-%-d" }}",
   "description": "{{page.description}}",
     "author": {
      "@type": "Person",
      "name": "Ruben Gutierrez"
    }
   }
  </script>