<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html', '' | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }} Feed"
        href="{{ '/feed.xml' | absolute_url }}">
    {% if site.favicon and site.favicon != "" %}
    <link rel="shortcut icon" href="{{ site.favicon | relative_url }}" type="image/png" />
    {% endif %}
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% if page.title %}{{ page.title | escape }} | {{ site.title }}{% else %}{{ site.title | escape }}{% endif %}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:description" content="{% if page.description %}{{ page.description | escape }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:image" content="{% if page.feature_image %}{{ page.feature_image | absolute_url }}{% else %}{{ site.default_img | absolute_url }}{% endif %}">
    
    <meta name="twitter:url" content="{{ page.url | absolute_url }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }} | {{ site.title }}{% else %}{{ site.title | escape }}{% endif %}">
    <meta name="twitter:site" content="{{ site.title }}">
    <meta name="twitter:image" content="{% if page.feature_image %}{{ page.feature_image | absolute_url }}{% else %}{{ site.default_img | absolute_url }}{% endif %}">
    
    <meta name="twitter:description" content="{% if page.description %}{{ page.description | escape }}{% else %}{{ site.description }}{% endif %}">
    {% if site.twitter_username %}
        <meta name="twitter:creator" content="@{{ site.twitter_username }}">
    {% endif %}
    <link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | prepend: site.baseurl }}">
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i%7CNoto+Serif:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153540786-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    
        gtag('config', 'UA-153540786-1');
    </script>
    </head>
<body>

  <div id="page" class="site">
    <div class="inner">
      {% include header.html %}
      <main itemscope class="main-content fadeInDown delay_075s">

        {% for post in paginator.posts %}
        <article itemprop class="post">
          <header itemscope class="post-header">
            <time itemprop class="post-date" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{post.date | date: "%B %-d, %Y" }}</time>
            <h2 itemscope class="post-title"><a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark">{{post.title}}</a></h2>
            <div class="post-meta">
              By <span itemprop class="post-author">{{ site.data.author.name }}</span>
            </div>
            <!-- .post-meta -->
            {% if post.feature_image and post.feature_image != "" %}
            <figure class="post-thumbnail image-card width-wide">
              <a itemprop="image" href="{{site.baseurl}}{{post.url}}"><img src="{{ post.feature_image | relative_url }}"
                  alt="{{ post.title }}"></a>
            </figure><!-- .post-thumbnail -->
            {% endif %}
          </header><!-- .post-header -->
          <div itemscope class="post-content">
            {% if post.description %}
            {{ post.description }}
            <p itemprop class="read-more"><a href="{{ site.baseurl }}{{ post.url }}" class="read-more-link">Continue reading &rarr;</a>
            </p>
            {% else %}
            {{ post.description }}
            {% endif %}
          </div i><!-- .post-content -->
        </article><!-- .post -->
        {% endfor %}
      
        {% if paginator.total_pages > 1 %}
        <nav class="pagination">
          <h2 class="screen-reader-text">Posts navigation</h2>
          <div itemprop class="nav-links">
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | relative_url }}" class="newer-posts">&larr; Newer Posts</a>
            {% endif %}
            <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | relative_url }}" class="older-posts">Older Posts &rarr;</a>
            {% endif %}
          </div>
        </nav><!-- .pagination -->
        {% endif %}
      
      </main><!-- .site-main -->      {% include footer.html %}
    </div><!-- .inner -->
  </div><!-- .site -->

  <!-- Scripts -->
  <script src="{{ '/assets/js/plugins.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/custom.js' | relative_url }}"></script>

</body>
</html>


