<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
  {% include seo-post.html %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html', '' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }} Feed"
      href="{{ '/feed.xml' | absolute_url }}">
  {% if site.favicon and site.favicon != "" %}
  <link rel="shortcut icon" href="{{ site.favicon | relative_url }}" type="image/png" />
  {% endif %}
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }} | {{ site.title }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:description" content="{% if page.description %}{{ page.description | escape }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:image" content="{% if page.feature_image %}{{ page.feature_image | absolute_url }}{% else %}{{ site.default_img | absolute_url }}{% endif %}">
  
  <meta name="twitter:url" content="{{ page.url | absolute_url }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }} | {{ site.title }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta name="twitter:site" content="{{ site.title }}">
  <meta name="twitter:image" content="{% if page.feature_image %}{{ page.feature_image | absolute_url }}{% else %}{{ site.default_img | absolute_url }}{% endif %}">
  
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | escape }}{% else %}{{ site.description }}{% endif %}">
  {% if site.twitter_username %}
      <meta name="twitter:creator" content="@{{ site.twitter_username }}">
  {% endif %}
  <link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | prepend: site.baseurl }}">
  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i%7CNoto+Serif:400,400i,700,700i&display=swap" rel="stylesheet">
  <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153540786-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'UA-153540786-1');
  </script>
  
<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"17217025"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
  </head>
<body>

  <div id="page" class="site">
    <div class="inner">
      {% include header.html %}
      <main class="main-content fadeInDown delay_075s">

        <article class="post">
          <header class="post-header">
            <h1 class="post-title">{{page.title}}</h1>
            <div class="post-meta">
            </div><!-- .post-meta -->
            {% if page.feature_image and page.feature_image != "" %}
            <figure class="post-thumbnail image-card width-wide">
              <img src="{{ page.feature_image | relative_url }}" alt="{{ page.title }}">
            </figure><!-- .post-thumbnail -->
            {% endif %}
          </header><!-- .post-header -->
          <div class="post-content">
            {{content}}
          </div><!-- .post-content -->
          <div class="post-share">
            <span>Share:</span>
            <a target="_blank"
              href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&amp;url={{ page.url | absolute_url }}" rel="noopener">Twitter</a>
            <a target="_blank"
              href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}&amp;t={{ page.title | uri_escape }}" rel="noopener">Facebook</a>
          </div><!-- .share-post -->
          <div class="author-box">
            {% if site.data.author.image and site.data.author.image != "" %}
            <div class="author-avatar" style="background-image: url('{{ site.data.author.image }}')"><span class="screen-reader-text">{{ site.data.author.name }}'s Picture</span></div>
            {% endif %}
            <div class="author-details">
              <h2 class="author-title">About {{ site.data.author.name }}</h2>
              <div class="author-bio">{{ site.data.author.bio | markdownify }}</div>
              {% if site.data.author.location and site.data.author.location != "" %}
              <span class="author-location">{{ site.data.author.location}}</span>
              {% endif %}
              {% if site.data.author.url and site.data.author.url != "" %}
              <span class="author-website"><a href="{{ site.data.author.url }}" target="_blank" rel="noopener">{{ site.data.author.url }}</a></span>
              {% endif %}
            </div><!-- .author-details -->
          </div><!-- .author-box -->
        </article><!-- .post -->
      
        {% if site.disqus and site.disqus != "" %}
          {% include disqus.html %}
        {% endif %}
      
      </main><!-- .main-content -->      {% include footer.html %}
    </div><!-- .inner -->
  </div><!-- .site -->

  <!-- Scripts -->
  <script src="{{ '/assets/js/plugins.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/custom.js' | relative_url }}"></script>

</body>
</html>
