<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
  {% include schema.html %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html', '' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }} Feed"
      href="{{ '/feed.xml' | absolute_url }}">
  {% if site.favicon and site.favicon != "" %}
  <link rel="shortcut icon" href="{{ site.favicon | relative_url }}" type="image/png" />
  {% endif %}
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }} | {{ site.title }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:description" content="{% if page.description %}{{ page.description | escape }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:image" content="{% if page.feature_image %}{{ page.feature_image | absolute_url }}{% else %}{{ site.default_img | absolute_url }}{% endif %}">
  
  <meta name="twitter:url" content="{{ page.url | absolute_url }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }} | {{ site.title }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta name="twitter:site" content="{{ site.title }}">
  <meta name="twitter:image" content="{% if page.feature_image %}{{ page.feature_image | absolute_url }}{% else %}{{ site.default_img | absolute_url }}{% endif %}">
  
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | escape }}{% else %}{{ site.description }}{% endif %}">
  {% if site.twitter_username %}
      <meta name="twitter:creator" content="@{{ site.twitter_username }}">
  {% endif %}
  <link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | prepend: site.baseurl }}">
  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i%7CNoto+Serif:400,400i,700,700i&display=swap" rel="stylesheet">
  <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153540786-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'UA-153540786-1');
  </script>
  </head>
<body>

  <div id="page" class="site">
    <div class="inner">
      {% include header.html %}
      <main class="site-main fadeInDown delay_075s">
        <article class="post">
          <header class="post-header">
            <h1 class="post-title">{{page.title}}</h1>
          </header><!-- .post-header -->
          <div class="post-content">
            <div class="archive-tags">
              {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
              {% assign sortedTags = site_tags | split:',' | sort %}
              {% for tag in sortedTags %}
              <a href="#{{ tag | cgi_escape }}">{{ tag }}</a>{% unless forloop.last %} {% endunless %}
              {% endfor %}
            </div><!-- .archive-tag-list -->
            {% for tag in sortedTags %}
              <h2 id="{{ tag | cgi_escape }}">{{ tag }}</h2>
              <ul class="archive-post-list">
              {% for post in site.tags[tag] %}
                <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> <span class="archive-meta"> — <time class="archive-date" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %-d, %Y" }}</time></span></li>
              {% endfor %}
              </ul><!-- .archive-post-list -->
              <p><a href="#top" class="archive-top-link">Return to top &#8593;</a></p>
            {% endfor %}
          </div><!-- .post-content -->
        </article><!-- .post -->
      </main><!-- .site-main -->      {% include footer.html %}
    </div><!-- .inner -->
  </div><!-- .site -->

  <!-- Scripts -->
  <script src="{{ '/assets/js/plugins.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/custom.js' | relative_url }}"></script>

</body>
</html>

